# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df1 =pd.read_csv(url, sep= '\t')
print(df1.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = df1

In [4]:
chipo.shape

(4622, 5)

# Name of the max valued product

In [5]:

def max_price(x):
    return float(str(x).replace("$","").strip())

chipo["item_price"] = chipo["item_price"].map(max_price)
chipo.loc[chipo["item_price"].idxmax(), ["item_name", "item_price"]]

item_name     Chips and Fresh Tomato Salsa
item_price                           44.25
Name: 3598, dtype: object

### Step 4. How many products cost more than $10.00?

In [8]:
num_expensive = (chipo["item_price"] > 10).sum()
num_expensive

np.int64(1130)

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:
#al usar df [[]] en vez de solo uno, el resultado es una dataframe en vez de una serie
item_prices = chipo[["item_name", "item_price"]]
print(item_prices)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [12]:
#ordenar por el nombre del item de forma ascendente 
item_prices_sorted = item_prices.sort_values(by="item_name")

print(item_prices_sorted)

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [14]:
#obtener el indice del item mas caro
idx_max_price = chipo["item_price"].idxmax()

#seleccionar la columna quantity en esa fila 
quantity_most_expensive = chipo.loc[idx_max_price, "quantity"]

print("cantidad del item mas caro: ", quantity_most_expensive)

cantidad del item mas caro:  15

V2

In [15]:
#obtener el precio maximo
max_price = chipo["item_price"].max()

#filtrar las filas que tengan ese precio 
most_expensive_item = chipo[chipo["item_price"]  ==  max_price]

#obtener la cantidad
quantity_most_expensive_2 = most_expensive_item["quantity"].sum()
print("cantidad del item mas caro: ", quantity_most_expensive_2)

cantidad del item mas caro:  15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [17]:
#filtrar las filas donde item_name es "veggie salad bowl"
veggie_salad_order = chipo[chipo["item_name"] == "Veggie Salad Bowl"]

total_veggie_salad = veggie_salad_order["quantity"].sum()
print(total_veggie_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [18]:
canned_soda_multiple = chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)]

times_ordered_more_than_one = canned_soda_multiple.shape[0]

print(times_ordered_more_than_one)

20